<div class="container">

    <mat-card class="example-card-1">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Brasil</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/brasil.png" alt="Brasil">
        <mat-card-content>
            <p>
                De todas as Copas, a que o Brasil teve o time mais “velho”, e idade mesmo, foi em 1962,
                quando se tornou bicampeão. A média dos jogadores era de 29,6 anos. A equipe mais nova,
                da Copa de 1934, teve o pior desempenho da história do Brasil em Copas. Na época, a média de idade
                entre os jogadores era 23,2 anos e a selação acabou ficando com a 14ª colocação.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card-2">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Alemanha</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/bandeira-alemanha.png" alt="Alemanha">
        <mat-card-content>
            <p>
                À véspera da Copa do Mundo de 2018, a Alemanha lidera
                a lista de classificação mundial da Fifa. Seguem-se o Brasil, a Bélgica, Portugal e a Argentina.
            </p>
        </mat-card-content>
    </mat-card>


    <mat-card class="example-card-3">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Itália</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/bandeira-italia.png" alt="Italia">
        <mat-card-content>
            <p>
                Nos anos de 1915, 1919, 1944 e em 1945, a Itália ficou sem campeonato.
                Isso aconteceu por conta do cenário da Segunda Guerra Mundial,
                que afetou diretamente o futebol italiano, já que a Itália foi uma das grandes protagonistas do evento.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card-4">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Argentina</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/bandeira-argentina.png" alt="Argentina">
        <mat-card-content>
            <p>
                A Argentina possui 18 participações em Copas do Mundo (contando até a Copa de 2022), não tendo
                participado apenas de quatro Copas.
                Em 1938, desistiu de competir por não concordar que a Copa daquele ano fosse novamente na Europa, como
                já havia sido em 1934.
            </p>
        </mat-card-content>
    </mat-card>

</div>

 <mat-divider> </mat-divider>

<div class="container-2">

    <mat-card class="example-card-5">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>França</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/bandeira-frança.png" alt="França">
        <mat-card-content>
            <p>
                Essa geração francesa é tão forte que o técnico Didier Deschamps, deixou de fora nomes como Payet,
                Rabiot, Coman, Lacazette e Martial, que atuam em grandes clubes do futebol mundial. Dechamps
                tem como grande desafio fazer essa nova geração dar liga e não fazer um papel ruim, como na Eurocopa de
                2016, quando decepcionou.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card-6">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Uruguai</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/Flag_of_Uruguay.svg.png" alt="Uruguai">
        <mat-card-content>
            <p>

                Eles ganharam a primeira Copa do Mundo em 1930.
                E venceram o Brasil em uma final lendária conhecida como 'Maracanazo' em 1950.


                
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card-7">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Espanha</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/bandeira-espanha.png" alt="Espanha">
        <mat-card-content>
            <p>
                Em 2010, a Espanha entrou para o seleto grupo dos campeões do mundo. A equipe vinha do título europeu,
                em 2008, e prometia fazer mesmo bonito na competição. Mas na estreia, contra a Suíça, deu pinta de que
                poderia morrer pelo caminho, como tantas vezes. A derrota por 1 a 0, com gol de Gelson Fernandes aos 7
                minutos do segundo tempo,
                colocou a Fúria em alerta para as partidas contra Honduras e Chile. Triunfo nos dois jogos iniciaram a
                arrancada para o topo.
            </p>
        </mat-card-content>
    </mat-card>


    <mat-card class="example-card-8">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Inglaterra</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/Flag_of_England.svg.webp" alt="Inglaterra">
        <mat-card-content>
            <p>
                Os britânicos possuem longa tradição no esporte, começando em 1848 quando a Cambridge University
                Association Football Club
                elaborou o primeiro conjunto de regras que com as atualizações posteriores daria ao esporte as
                características atuais.
            </p>
        </mat-card-content>
    </mat-card>

</div>